<h1>Employee List</h1>

<table class="table table-striped">
    <thead>
        <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Address</th>
            <th>jobRole</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.docter}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
            </td>
        </tr>
    </tbody>

</table>
